
html {
	height: 100%;
	overflow-y:scroll;
	overflow-x:hidden;
}

body{
	margin:0;
	padding:0;
	min-height: 100%;
}
a{
	text-decoration: none;
}
li {
	border-bottom-color: #AAAAAA;
	border-bottom-style: dashed;
    border-bottom-width: 1px;
}

h1 {
    font-size: 1.5em;
    font-weight: unset;
	color: #FFFFFF;
	text-align:center;
}

.cell {
	width: 400px;
	margin: 20px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 2px;
	background: rgba(255,255,255,0.0);
	box-shadow: 2px 2px 50px #FFFFFF;
}
.cell:hover {
	background: rgba(50,50,50,0.9);
	box-shadow: 2px 2px 20px #000000;
}
.cell:hover img{
	opacity:1.0;
}

.cell img{
	display:inline;
	white-space:nowrap;
	opacity:0.4;
	vertical-align: middle;
    width:100px;
}
.cell .title{
	font-size: 1.3em;
	color: #FFFFFF;
	text-align:center;
}
.cell .text{
	font-size: 0.9em;
	color: #FFFFFF;
	text-align:center;
}


.bg{
	height: 100%;
 	background: linear-gradient(-90deg, #224455, #679aad);
	background-size: 100% 100%;
	min-height: 100%;
}
.bg2{
	height: 100%;
	width: 100%;
	background-image: url("./img/bg.png");
	background-repeat: no-repeat;
	min-height: 100%;
}

.content2{
	position: relative;
	background: #FFFFFF;
	width: 70%;
	margin:auto;
	box-shadow: 0px 0px 50px #FFFFFF;
	min-height: 100%;
	opacity:0.8;
}

.content{
	opacity:1.0;
	padding: 30px 30px 30px 30px;
}
.content h1 {
	margin: 0;
	font: bold 1.5em sans-serif,Arial;
	color: #666;
}
.content p {
	margin: 3px 0 6px; color: #666;
}
.content a.link {
	color: #808080;
	padding: 2px 10px 2px 10px;
	margin : 10px;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #808080;
	border-radius: 1em 0em 0em 1em;
}
.content a.link:hover {
	color : #FFFFFF;
	background: #808080;
	padding: 2px 10px 2px 10px;
	margin : 10px;
	text-decoration: none;
	border: 1px solid #808080;
	border-radius: 1em 0em 0em 1em;
}
.content a img {
    	outline : none;
    	border : 0;
	border-radius: 0 0 0 0 ;
}
.content p {
	margin: 3px 0 6px; color: #666;
}

.item {
	text-align: left;
}

.item h1 {
	background-image: url(img/pd-small.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 22px;
}

.md table{
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
.md tr{
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
.md td{
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	padding:5px;
}
.md th{
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	padding:5px;
}

.menubar {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(180deg, #333333, #555555);
	color: #FFFFFF;
	padding: 15px;
}

.menubutton {
	margin: 12px;
	padding: 5px 20px 5px 10px;
	border-radius: 10px;
	background: rgba(250,250,250,0.9);
	box-shadow: 0px 0px 10px #FFFFFF;
	font-size: 1.4em;
	color: #333333;
	text-align:center;
	display: inline-block;
}
.menubutton:hover {
	background: rgba(0,0,0,0.9);
	box-shadow: 2px 2px 10px #000000;
	color: #EEEEEE;
}

.menubutton img{
	display:inline;
	vertical-align: middle;
}

.maintitle{
	font-size: 2em;
	vertical-align: middle;
	display:inline;
	padding: 0px 25px 0px 0px;
}

.mainicon{
	display:inline;
	white-space:nowrap;
	vertical-align: middle;
	padding: 5px 10px 0px 30px;
}

